.uno{
    background: #E2E2E2;
    height:200px;
    display: flex;
justify-content: center;
    align-items: center;
    
}

.dos{
    background: #FFF0AC;
    height:200;
    display: flex;
justify-content: center;
    align-items: center;
    
}

.tres{
    background: #D1EAFF ;
    height:200px;
    display: flex;
justify-content: center;
    align-items: center;
    
    }
    
    .cuatro{
    background:#E2E2E2;
    height:200px;
    display: flex;
justify-content: center;
    align-items: center; 
        }
    